.wrapper {

}

.card {
    float: left;
    width: 140px;
    height: 190px;
    background-image: url("cards.png");
}

.card-1 {
    background-position: -145px -200px;
}

.card-2 {
    margin-left: -60px;
    background-position: -432px -597px;
}

.card-3 {
    margin-left: -60px;
    background-position: -287px -1393px;
}