.hidden {
    display: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px;
    caption-side: bottom;
}

tr {
    border-bottom: 1px dotted #333;
    cursor: pointer;
}

th,
td {
    text-align: left;
    padding: 6px;
    border-left: 1px dotted #333;
    min-width: 100px;
}

th:last-child,
td:last-child {
    border-right: 1px dotted #333;
}

tr:nth-child(odd) {
    background-color: #ccc;
}

table tr:first-child {
    cursor: auto;
}

table tr:first-child th {
    background-color: #666;
    color: #fff;
    collapse: 0;
    text-align: center;
}

caption {
    padding: 6px;
    text-align: center;
    text-transform: uppercase;
}

